@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 345px;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1rem 0 1rem;
}

nav h4 {
  margin: 0;
  font-size: 16px;
  font-size: 18px;
  font-weight: 600;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
}

.icons i {
  font-size: 0.8em;
  font-weight: bold;
}

.link {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: 0.8rem;
}

.link a {
  text-decoration: none;
  color: #9fb2ff;
  text-decoration: underline;
  font-size: 17px;
  padding: 0 8px 0 8px;
}

.img-container {
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.img-container img {
  width: 90%;
  height: 310px;
  object-fit: contain;
}

.content-container {
  padding: 15px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 1rem;
}

.content-container h1 {
  font-size: 20px;
  font-weight: 600;
}

.content-container p {
  font-size: 15px;
  font-weight: 350;
  margin-top: 0.5rem;
}

.next-pg {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: 3rem;
  
}

.next-pg #btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  /* border: 0.1px solid black; */
}

.next-pg #btn-2 {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  border: 0.1px solid black;
}

.next-pg #btn:hover {
  cursor: pointer;
}

.next-pg #btn-2 {
  cursor: pointer;
}
